---
layout: default
title: Games
---

<div class="games">
    {% for post in site.categories.games %}
    	<div class="game">
			<a href="{{ post.url }}" title="{{ post.title }}">
				<div style="background-image:url({% if post.thumbnail %}{{post.thumbnail}}{% else %}{{ post.banner }}{% endif %});" class="banner">
					<div class="overlay"></div>
				</div>
			</a>
			<div class="metadata">
				<a href="{{ post.url }}" title="{{ post.title }}">
					<h3>{{ post.title }}</h3>
				</a>
				{% if post.summary %}
				<p>
					{{ post.summary | strip | newline_to_br }}
				</p>
				{% endif %}
			</div>
		</div>
    {% endfor %}
</div>